* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.navbar {
    display: flex;
}

.navbar-1 {
    height: 100px;
    width: 1351px;
    background-color: #083b78;
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: 150px;
    background-image: url(realpress\ logo.webp);
    background-size: cover;
    margin-left: 30px;
}

.dropdown {
    margin-left: 150px;
}

.button {
    border: none;
    padding: 25px 20px;
    cursor: pointer;
    background-color: #083b78;
    color: #0085ff;
    font-size: 16px;
    font-weight: 700;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown a {
    display: block;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px 20px;
}

a:hover {
    color: #0085ff;
}

.content {
    display: none;
    position: absolute;
    min-width: 150px;
}

.dropdown:hover .content {
    display: block;
}

.button-1 {
    border: none;
    padding: 25px 20px;
    cursor: pointer;
    background-color: #083b78;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.button-1:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #0085ff;
}

.dropdown-1 a {
    display: block;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px 20px;
}

a:hover {
    color: #0085ff;
}

.content-1 {
    display: none;
    position: absolute;
    min-width: 250px;
}

.dropdown-1:hover .content-1 {
    display: block;
}

.button-2 {
    border: none;
    padding: 25px 20px;
    cursor: pointer;
    background-color: #083b78;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.button-2:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #0085ff;
}

.dropdown-2 a {
    display: block;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px 20px;
}

a:hover {
    color: #0085ff;
}

.content-2 {
    display: none;
    position: absolute;
    min-width: 250px;
}

.dropdown-2:hover .content-2 {
    display: block;
}

.button-3 {
    border: none;
    padding: 25px 20px;
    cursor: pointer;
    background-color: #083b78;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.button-3:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #0085ff;
}

.dropdown-3 a {
    display: block;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px 20px;
}

a:hover {
    color: #0085ff;
}

.content-3 {
    display: none;
    position: absolute;
    min-width: 250px;
}

.dropdown-3:hover .content-3 {
    display: block;
}

.button-4 {
    border: none;
    padding: 25px 20px;
    cursor: pointer;
    background-color: #083b78;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.button-4:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #0085ff;
}

.button-5 {
    border: none;
    padding: 25px 20px;
    cursor: pointer;
    background-color: #083b78;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.button-5:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #0085ff;
}

.listing {
    height: 48px;
    width: 183px;
    border: 2px solid #0085ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    margin-left: 150px;
    cursor: pointer;
    gap: 5px;
}

.listing:hover {
    background-color: #0085ff;
}

@media (max-width: 430px) {
    .button {
        display: none;
    }

    .button-1 {
        display: none;
    }

    .button-2 {
        display: none;
    }

    .button-3 {
        display: none;
    }

    .button-4 {
        display: none;
    }

    .button-5 {
        display: none;
    }

    .listing {
        display: none;
    }

    .navbar-1 {
        width: 430px;
    }

    .logo {
        width: 160px;
    }
}

@media (min-width: 431px) and (max-width: 1024px) {
    .button {
        display: none;
    }

    .button-1 {
        display: none;
    }

    .button-2 {
        display: none;
    }

    .button-3 {
        display: none;
    }

    .button-4 {
        display: none;
    }

    .button-5 {
        display: none;
    }

    .listing {
        display: none;
    }

    .navbar-1 {
        width: 1024px;
    }

    .logo {
        width: 260px;
        height: 60px;
    }
}

.home {
    height: 700px;
    width: 1351px;
    background-color: #083b78;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-1 {
    height: 575px;
    width: 725px;
    display: flex;
    flex-direction: column;
}

.home-4 {
    height: 170px;
    width: 550px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 100px;
}

.home-5 {
    height: 25px;
    width: 445px;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 18px;
    color: #9e9e9e;
}

.home-6 {
    height: 95px;
    width: 900px;
    margin-left: 20px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-7 {
    height: 44px;
    width: 205px;
    background-color: white;
    display: flex;
    align-items: center;
}

.home-8 {
    display: flex;
    margin-left: 10px;
    font-size: 18px;
}

.home-9 {
    margin-left: 115px;
}

.home-10 {
    margin-left: 95px;
}

.home-11 {
    margin-left: 125px;
}

.home-12 {
    height: 44px;
    width: 204px;
    background-color: #0085ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.home-2 {
    height: 575px;
    width: 595px;
    display: flex;
    justify-content: center;
}

.home-3 {
    height: 510px;
    width: 510px;
    background-image: url(img-banner.jpg);
    background-size: cover;
}

@media (max-width: 430px) {
    .home {
        display: block;
        width: 430px;
        height: 1100px;
    }

    .home-1 {
        width: 430px;
    }

    .home-2 {
        width: 430px;
    }

    .home-3 {
        width: 380px;
        height: 390px;
        margin-top: 50px;

    }

    .home-4 {
        margin-left: 0px;
        font-size: 35px;
        width: 350px;
        margin-top: 50px;
        margin-left: 20px;
    }

    .home-5 {
        width: 350px;
        margin-left: 20px;
        margin-top: 10px;
        font-size: 17px;
    }

    .home-6 {
        width: 380px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }

    .home-7 {
        height: 50px;
        width: 350px;
    }

    .home-12 {
        height: 50px;
        width: 350px;
    }

    .home-9 {
        margin-left: 250px;
    }

    .home-10 {
        margin-left: 230px;
    }

    .home-11 {
        margin-left: 260px;
    }
}

@media (min-width: 431px) and (max-width: 1024px) {
    .home {
        height: 600px;
        width: 1024px;
    }

    .home-1 {
        width: 525px;
    }

    .home-2 {
        height: 530px;
        width: 495px;
    }

    .home-3 {
        height: 450px;
        width: 450px;
    }

    .home-4 {
        font-size: 46px;
    }

    .home-6 {
        height: 90px;
        width: 800px;
        margin-top: 30px;
    }

    .home-7 {
        width: 170px;
    }

    .home-9 {
        margin-left: 80px;
    }

    .home-10 {
        margin-left: 60px;
    }

    .home-11 {
        margin-left: 90px;
    }

    .home-12 {
        width: 170px;
    }
}

.about {
    display: flex;
}

.about-1 {
    height: 400px;
    width: 1351px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.about-2 {
    height: 400px;
    width: 645px;
    background-image: url(banner-01.jpg);
    background-size: cover;
}

.about-3 {
    height: 400px;
    width: 630px;
}

.about-4 {
    height: 240px;
    width: 240px;
    background-image: url(banner-02.jpg);
    background-size: cover;
    margin-left: 30px;
    margin-top: 190px;
}

.about-5 {
    display: flex;
    flex-direction: column;
}

.about-6 {
    height: 26px;
    width: 95px;
    margin-top: 70px;
    margin-left: 70px;
    font-size: 18px;
    color: #9e9e9e;
}

.about-7 {
    height: 130px;
    width: 390px;
    margin-left: 70px;
    font-weight: 700;
    font-size: 40px;
    margin-top: 30px;
}

.about-8 {
    height: 25px;
    width: 95px;
    font-size: 13px;
    margin-left: 90px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-9 {
    height: 3px;
    width: 130px;
    margin-left: 70px;
    margin-top: 10px;
    background-color: #0085ff;
}

@media (min-width: 431px) and (max-width: 1025px) {
    .about-1 {
        width: 1024px;
    }

    .about-2 {
        width: 500px;
        margin-left: 30px;
    }

    .about-3 {
        width: 500px;
        margin-left: 30px;
    }
}

@media (max-width: 430px) {
    .about-1 {
        display: block;
        margin-top: 50px;
        width: 430px;
    }

    .about-2 {
        width: 415px;
        height: 255px;
        margin-left: 15px;
    }

    .about-3 {
        width: 430px;
        height: 250px;
    }

    .about-4 {
        /* background-image: none; */
        height: 130px;
        width: 130px;
        margin-top: 150px;
        display: inline-block;
    }

    .about-6 {
        margin-left: 30px;
        height: 20px;
        margin-top: 55px;
    }

    .about-7 {
        margin-left: 30px;
        height: 100px;
        font-size: 32px;
        margin-top: 15px;
    }

    .about-8 {
        margin-left: 40px;
        margin-top: 0px;
    }

    .about-9 {
        margin-left: 30px;
    }
}

.amenties {
    display: flex;
}

.amenties-1 {
    height: 400px;
    width: 1351px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.amenties-2 {
    height: 400px;
    width: 630px;
}

.amenties-3 {
    height: 400px;
    width: 645px;
    background-image: url(banner-03.webp);
    background-size: cover;
}

.amenties-4 {
    height: 240px;
    width: 240px;
    background-image: url(banner-04.webp);
    background-size: cover;
    margin-left: 40px;
    margin-top: 180px;
}

.amenties-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.amenties-6 {
    margin-top: 70px;
    margin-right: 90px;
    height: 25px;
    width: 80px;
    color: #9e9e9e;
    font-size: 18px;
}

.amenties-7 {
    margin-top: 30px;
    margin-right: 70px;
    height: 130px;
    width: 340px;
    font-weight: 700;
    font-size: 40px;
    text-align: end;
}

.amenties-8 {
    height: 25px;
    width: 110px;
    margin-right: 90px;
    margin-top: 50px;
    font-size: 15px;
}

.amenties-9 {
    height: 3px;
    width: 130px;
    background-color: #0085ff;
    margin-top: 10px;
    margin-right: 85px;
}

@media (min-width: 431px) and (max-width: 1024px) {
    .amenties-1 {
        width: 1024px;
    }

    .amenties-2 {
        width: 500px;
    }

    .amenties-3 {
        width: 500px;
        margin-right: 30px;
    }
}

@media (max-width: 430px) {
    .amenties-1 {
        width: 430px;
        display: block;
    }

    .amenties-2 {
        width: 430px;
        height: 250px;
    }

    .amenties-3 {
        width: 415px;
        height: 255px;
        display: inline-block;
    }

    .amenties-4 {
        height: 140px;
        width: 140px;
        margin-left: 30px;
        margin-top: 150px;
    }

    .amenties-6 {
        height: 20px;
        margin-right: 50px;
        margin-top: 40px;
    }

    .amenties-7 {
        height: 100px;
        width: 390px;
        font-size: 28px;
        margin-right: 40px;
        margin-top: 25px;
    }

    .amenties-8 {
        margin-top: 5px;
        margin-right: 60px;
    }

    .amenties-9 {
        margin-top: 5px;
        margin-right: 55px;
    }
}

.explore {
    display: flex;
}

.explore-1 {
    height: 800px;
    width: 1351px;
    background-color: #cae6ff;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-2 {
    height: 40px;
    width: 400px;
    margin-top: 100px;
    font-size: 35px;
    font-weight: 700;
}

.explore-3 {
    height: 450px;
    width: 1300px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.explore-4 {
    height: 450px;
    width: 300px;
    background-image: url(img-slide-01.webp);
    display: block;
}

.explore-5 {
    height: 450px;
    width: 300px;
    background-image: url(img-slide-02.webp);
    display: block;
}

.explore-6 {
    height: 450px;
    width: 300px;
    background-image: url(img-slide-03.webp);
    display: block;
}

.explore-7 {
    height: 450px;
    width: 300px;
    background-image: url(img-slide-04.webp);
    display: block;
}

.explore-3:hover {
    animation: moveleft 2s linear infinite;
}

@keyframes moveleft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50px);
    }
}

@media (min-width: 431px) and (max-width: 1024px) {
    .explore-1 {
        width: 1024px;
    }

    .explore-3 {
        width: 950px;
    }

    .explore-4 {
        width: 200px;
    }

    .explore-5 {
        width: 200px;
    }

    .explore-6 {
        width: 200px;
    }

    .explore-7 {
        width: 200px;
    }
}

@media (max-width: 430px) {
    .explore-1 {
        width: 430px;
        margin-top: 185px;
        height: 700px;
    }

    .explore-2 {
        width: 350px;
        font-size: 30px;
        margin-top: 50px;
    }

    .explore-3 {
        width: 380px;
        margin-top: 70px;
    }

    .explore-5 {
        display: none;
    }

    .explore-6 {
        display: none;
    }

    .explore-7 {
        display: none;
    }
}

.deal {
    display: flex;
}

.deal-1 {
    height: 1100px;
    width: 1351px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deal-2 {
    height: 95px;
    width: 1290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.deal-3 {
    font-size: 40px;
    font-weight: 700;
}

.deal-4 {
    color: #9e9e9e;
    font-size: 18px;
}

.deal-5 {
    height: 820px;
    width: 1300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deal-6 {
    height: 50px;
    width: 170px;
    background-color: #0085ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
}

.deal-6:hover {
    background-color: black;
}

.rent {
    height: 400px;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rent-1 {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column
}

.rent-1:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.house {
    height: 200px;
    width: 300px;
    background-image: url(rp-property-1.webp);
    background-size: cover;
}

.house-1 {
    height: 25px;
    width: 60px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 230px;
}

.house-2 {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url(agent-1.webp);
    background-size: cover;
    margin-left: 20px;
    margin-top: 100px;
}

.house-3 {
    height: 200px;
    width: 298px;
    border: 1px solid rgba(158, 158, 158, 0.3);
}

.house-4 {
    height: 130px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.house-5 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #9e9e9e;
}

.house-5:hover {
    color: black;
}

.house-6 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.house-6:hover {
    color: #0085ff;
}

.house-7 {
    margin-left: 20px;
    color: #0085ff;
    font-weight: 700;
    font-size: 18px;
}

.house-8 {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house-9 {
    margin-left: 20px;
    color: #9e9e9e;
    font-size: 14px;
}

.house-10 {
    color: #9e9e9e;
    font-size: 14px;
}

.house-11 {
    color: #9e9e9e;
    font-size: 14px;
}

.rent-2 {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column
}

.rent-2:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.house-12 {
    height: 200px;
    width: 300px;
    background-image: url(rp-property-2.webp);
    background-size: cover;
}

.house-13 {
    height: 25px;
    width: 60px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 230px;
}

.house-14 {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url(agent-2.webp);
    background-size: cover;
    margin-left: 20px;
    margin-top: 100px;
}

.house-15 {
    height: 200px;
    width: 298px;
    border: 1px solid rgba(158, 158, 158, 0.3);
}

.house-16 {
    height: 130px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.house-17 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #9e9e9e;
}

.house-17:hover {
    color: black;
}

.house-18 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.house-18:hover {
    color: #0085ff;
}

.house-19 {
    margin-left: 20px;
    color: #0085ff;
    font-weight: 700;
    font-size: 18px;
}

.house-20 {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house-21 {
    margin-left: 20px;
    color: #9e9e9e;
    font-size: 14px;
}

.house-22 {
    color: #9e9e9e;
    font-size: 14px;
}

.house-23 {
    color: #9e9e9e;
    font-size: 14px;
}

.rent-3 {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column
}

.rent-3:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.house-24 {
    height: 200px;
    width: 300px;
    background-image: url(rp-property-3.webp);
    background-size: cover;
}

.house-25 {
    height: 25px;
    width: 60px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 230px;
}

.house-26 {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url(agent-3.webp);
    background-size: cover;
    margin-left: 20px;
    margin-top: 100px;
}

.house-27 {
    height: 200px;
    width: 298px;
    border: 1px solid rgba(158, 158, 158, 0.3);
}

.house-28 {
    height: 130px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.house-29 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #9e9e9e;
}

.house-29:hover {
    color: black;
}

.house-30 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.house-30:hover {
    color: #0085ff;
}

.house-31 {
    margin-left: 20px;
    color: #0085ff;
    font-weight: 700;
    font-size: 18px;
}

.house-32 {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house-33 {
    margin-left: 20px;
    color: #9e9e9e;
    font-size: 14px;
}

.house-34 {
    color: #9e9e9e;
    font-size: 14px;
}

.house-35 {
    color: #9e9e9e;
    font-size: 14px;
}

.rent-4 {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.rent-4:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.house-36 {
    height: 200px;
    width: 300px;
    background-image: url(rp-property-4.jpg);
    background-size: cover;
}

.house-37 {
    height: 25px;
    width: 60px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 230px;
}

.house-38 {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url(agent-4.webp);
    background-size: cover;
    margin-left: 20px;
    margin-top: 100px;
}

.house-39 {
    height: 200px;
    width: 298px;
    border: 1px solid rgba(158, 158, 158, 0.3);
}

.house-40 {
    height: 130px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.house-41 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #9e9e9e;
}

.house-41:hover {
    color: black;
}

.house-42 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.house-42:hover {
    color: #0085ff;
}

.house-43 {
    margin-left: 20px;
    color: #0085ff;
    font-weight: 700;
    font-size: 18px;
}

.house-44 {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house-45 {
    margin-left: 20px;
    color: #9e9e9e;
    font-size: 14px;
}

.house-46 {
    color: #9e9e9e;
    font-size: 14px;
}

.house-47 {
    color: #9e9e9e;
    font-size: 14px;
}


.rent-5 {
    height: 400px;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.rent-6 {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.rent-6:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.house-48 {
    height: 200px;
    width: 300px;
    background-image: url(rp-property-5.webp);
    background-size: cover;
}

.house-49 {
    height: 25px;
    width: 60px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 230px;
}

.house-50 {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url(agent-5.webp);
    background-size: cover;
    margin-left: 20px;
    margin-top: 100px;
}

.house-51 {
    height: 200px;
    width: 298px;
    border: 1px solid rgba(158, 158, 158, 0.3);
}

.house-52 {
    height: 130px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.house-53 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #9e9e9e;
}

.house-53:hover {
    color: black;
}

.house-54 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.house-54:hover {
    color: #0085ff;
}

.house-55 {
    margin-left: 20px;
    color: #0085ff;
    font-weight: 700;
    font-size: 18px;
}

.house-56 {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house-57 {
    margin-left: 20px;
    color: #9e9e9e;
    font-size: 14px;
}

.house-58 {
    color: #9e9e9e;
    font-size: 14px;
}

.house-59 {
    color: #9e9e9e;
    font-size: 14px;
}

.rent-7 {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.rent-7:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.house-60 {
    height: 200px;
    width: 300px;
    background-image: url(rp-property-6.webp);
    background-size: cover;
}

.house-61 {
    height: 25px;
    width: 60px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 230px;
}

.house-62 {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url(agent-6.webp);
    background-size: cover;
    margin-left: 20px;
    margin-top: 100px;
}

.house-63 {
    height: 200px;
    width: 298px;
    border: 1px solid rgba(158, 158, 158, 0.3);
}

.house-64 {
    height: 130px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.house-65 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #9e9e9e;
}

.house-65:hover {
    color: black;
}

.house-66 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.house-66:hover {
    color: #0085ff;
}

.house-67 {
    margin-left: 20px;
    color: #0085ff;
    font-weight: 700;
    font-size: 18px;
}

.house-68 {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house-69 {
    margin-left: 20px;
    color: #9e9e9e;
    font-size: 14px;
}

.house-70 {
    color: #9e9e9e;
    font-size: 14px;
}

.house-71 {
    color: #9e9e9e;
    font-size: 14px;
}

.rent-8 {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.rent-8:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.house-72 {
    height: 200px;
    width: 300px;
    background-image: url(rp-property-7.webp);
    background-size: cover;
}

.house-73 {
    height: 25px;
    width: 60px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 230px;
}

.house-74 {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url(agent-7.webp);
    background-size: cover;
    margin-left: 20px;
    margin-top: 100px;
}

.house-75 {
    height: 200px;
    width: 298px;
    border: 1px solid rgba(158, 158, 158, 0.3);
}

.house-76 {
    height: 130px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.house-77 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #9e9e9e;
}

.house-77:hover {
    color: black;
}

.house-78 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.house-78:hover {
    color: #0085ff;
}

.house-79 {
    margin-left: 20px;
    color: #0085ff;
    font-weight: 700;
    font-size: 18px;
}

.house-80 {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house-81 {
    margin-left: 20px;
    color: #9e9e9e;
    font-size: 14px;
}

.house-82 {
    color: #9e9e9e;
    font-size: 14px;
}

.house-83 {
    color: #9e9e9e;
    font-size: 14px;
}

.rent-9 {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.rent-9:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.house-84 {
    height: 200px;
    width: 300px;
    background-image: url(rp-property-8.jpg);
    background-size: cover;
}

.house-85 {
    height: 25px;
    width: 60px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 230px;
}

.house-86 {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url(agent-8.webp);
    background-size: cover;
    margin-left: 20px;
    margin-top: 100px;
}

.house-87 {
    height: 200px;
    width: 298px;
    border: 1px solid rgba(158, 158, 158, 0.3);
}

.house-88 {
    height: 130px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.house-89 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #9e9e9e;
}

.house-89:hover {
    color: black;
}

.house-90 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.house-90:hover {
    color: #0085ff;
}

.house-91 {
    margin-left: 20px;
    color: #0085ff;
    font-weight: 700;
    font-size: 18px;
}

.house-92 {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.house-93 {
    margin-left: 20px;
    color: #9e9e9e;
    font-size: 14px;
}

.house-94 {
    color: #9e9e9e;
    font-size: 14px;
}

.house-95 {
    color: #9e9e9e;
    font-size: 14px;
}

@media (min-width: 431px) and (max-width: 1024px) {
    .deal-1 {
        width: 1024px;
    }

    .deal-2 {
        width: 1000px;
    }

    .deal-5 {
        width: 1000px;
    }

    .rent {
        width: 1000px;
    }

    .rent-5 {
        width: 1000px;
    }

    .rent-1 {
        display: none;
    }

    .rent-6 {
        display: none;
    }
}

@media (max-width: 430px) {
    .deal-1 {
        width: 430px;
        height: 1950px;
    }

    .deal-2 {
        width: 400px;
    }

    .deal-4 {
        font-size: 15px;
    }

    .deal-5 {
        width: 400px;
        height: 1700px;
    }

    .rent {
        width: 400px;
        display: block;
        height: 1700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
    }

    .rent-5 {
        display: none;
    }
}

.sit {
    display: flex;
}

.sit-1 {
    height: 700px;
    width: 1351px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.sit-2 {
    height: 670px;
    width: 1015px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sit-4 {
    height: 320px;
    width: 1015px;
    display: flex;
    gap: 30px;
}

.sit-6 {
    height: 320px;
    width: 650px;
    background-image: url(banner-05.jpg);
    background-size: cover;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.sit-6:hover {
    filter: brightness(85%);
}

.sca {
    height: 320px;
    width: 650px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s;
}

.sca:hover {
    opacity: 1;
    transform: translateY(0);
}

.sca-1 {
    height: 40px;
    width: 300px;
    color: white;
    font-size: 35px;
    margin-top: 110px;
    font-weight: 700;
    margin-left: 40px;

}


.sca-2 {
    height: 60px;
    width: 300px;
    margin-left: 40px;
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.sca-3 {
    height: 20px;
    width: 300px;
    margin-top: 20px;
    margin-left: 40px;
    color: white;
}

.sca-4 {
    height: 3px;
    width: 110px;
    margin-top: 7px;
    background-color: white;
    margin-left: 40px;
}

.sit-7 {
    height: 320px;
    width: 315px;
    background-image: url(banner-06.jpg);
    background-size: cover;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.sit-7:hover {
    filter: brightness(85%);
}

.sca-5 {
    height: 320px;
    width: 315px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s;
}

.sca-5:hover {
    opacity: 1;
    transform: translateY(0);
}

.sca-6 {
    height: 40px;
    width: 280px;
    color: white;
    font-size: 32px;
    margin-top: 120px;
    font-weight: 700;
    margin-left: 20px;

}


.sca-7 {
    height: 50px;
    width: 260px;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 20px;
    color: white;
}

.sca-8 {
    height: 20px;
    width: 280px;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.sca-9 {
    height: 3px;
    width: 110px;
    margin-top: 7px;
    background-color: white;
    margin-left: 20px;
}


.sit-5 {
    height: 320px;
    width: 1015px;
    display: flex;
    gap: 30px;
}

.sit-8 {
    height: 320px;
    width: 315px;
    background-image: url(banner-08.jpg);
    background-size: cover;
}

.sit-8:hover {
    filter: brightness(85%);
}

.sit-9 {
    height: 320px;
    width: 650px;
    background-image: url(banner-09.jpg);
    background-size: cover;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.sit-9:hover {
    filter: brightness(85%);
}

.sit-3 {
    height: 670px;
    width: 335px;
    background-image: url(banner-07.jpg);
    background-size: cover;
    filter: brightness(85%);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.sca-10 {
    height: 670px;
    width: 315px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s;
}

.sca-10:hover {
    opacity: 1;
    transform: translateY(0);
}

.sca-11 {
    height: 40px;
    width: 280px;
    color: white;
    font-size: 32px;
    margin-top: 470px;
    font-weight: 700;
    margin-left: 30px;

}


.sca-12 {
    height: 50px;
    width: 260px;
    margin-left: 30px;
    font-size: 16px;
    margin-top: 20px;
    color: white;
}

.sca-13 {
    height: 20px;
    width: 280px;
    margin-top: 20px;
    margin-left: 30px;
    color: white;
}

.sca-14 {
    height: 3px;
    width: 110px;
    margin-top: 7px;
    background-color: white;
    margin-left: 30px;
}

@media (min-width: 431px) and (max-width: 1024px) {
    .sit-1 {
        width: 1024px;
    }

    .sit-3 {
        display: none;
    }
}

@media (max-width: 430px) {
    .sit-1 {
        width: 430px;
        height: 1200px;
    }

    .sit-2 {
        width: 430px;
        height: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sit-3 {
        display: none;
    }

    .sit-4 {
        display: flex;
        flex-direction: column;
        width: 410px;
        height: 575px;
    }

    .sit-5 {
        display: flex;
        flex-direction: column;
        width: 410px;
        height: 575px;
    }

    .sit-6 {
        width: 410px;
        height: 280px;
    }

    .sit-7 {
        width: 410px;
    }

    .sit-8 {
        width: 410px;
    }

    .sit-9 {
        width: 410px;
        height: 280px;
    }

    .sca-1 {
        margin-top: 40px;
    }
}

.email {
    display: flex;
}

.email-1 {
    height: 600px;
    width: 1351px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.email-2 {
    height: 555px;
    width: 460px;
    display: flex;
    align-items: center;
}

.email-4 {
    height: 400px;
    width: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.email-5 {
    height: 70px;
    width: 300px;
    font-size: 25px;
    font-weight: 700;
}

.email-6 {
    height: 70px;
    width: 300px;
    color: #9e9e9e;
    font-size: 17px;
}

.email-7 {
    height: 50px;
    width: 350px;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.email-8 {
    height: 50px;
    width: 350px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.email-9 {
    height: 45px;
    width: 45px;
    border: 2px solid #0085ff;
    color: #0085ff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-10 {
    font-size: 18px;
}

.email-3 {
    height: 555px;
    width: 860px;
    background-color: #0c55af;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con {
    height: 100px;
    width: 800px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.con-3 {
    color: white;
    margin-bottom: 20px;
}


.con-4 {
    height: 40px;
    width: 350px;
    border: 1px solid #0085ff;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: none;
    color: white;
}

.con-6 {
    color: white;
    margin-bottom: 20px;
}

.con-7 {
    height: 40px;
    width: 350px;
    border: 1px solid #0085ff;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: none;
    color: white;
}


.con-1 {
    height: 100px;
    width: 800px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.con-9 {
    color: white;
    margin-bottom: 20px;
}


.con-10 {
    height: 40px;
    width: 350px;
    border: 1px solid #0085ff;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: none;
    color: white;
}

.con-12 {
    color: white;
    margin-bottom: 20px;
}

.con-13 {
    height: 40px;
    width: 350px;
    border: 1px solid #0085ff;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: none;
    color: white;
}


.com {
    height: 130px;
    width: 800px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.com-2 {
    color: white;
    margin-bottom: 20px;
}

.com-3 {
    height: 90px;
    width: 730px;
    border: 1px solid #0085ff;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: none;
    color: white;
}

.com-4 {
    height: 50px;
    width: 730px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.com-5 {
    height: 50px;
    width: 150px;
    background-color: #0085ff;
    color: white;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.com-5:hover {
    background-color: black;
}

.com-6 {
    height: 15px;
    width: 15px;
    background-color: white;
    margin-left: 35px;
}

.com-7 {
    color: #9e9e9e;
    font-size: 15px;
    margin-left: 15px;
}

@media (min-width: 431px) and (max-width: 1024px) {

    .email-1 {
        width: 1024px;
    }

    .email-2 {
        width: 350px;
    }

    .email-3 {
        width: 650px;
    }

    .con {
        width: 600px;
    }

    .con-4 {
        width: 280px;
    }

    .con-7 {
        width: 280px;
    }

    .con-1 {
        width: 600px;
    }

    .con-10 {
        width: 280px;
    }

    .con-13 {
        width: 280px;
    }

    .com {
        width: 600px;
    }

    .com-3 {
        width: 600px;
    }

    .com-4 {
        width: 600px;
    }

}

@media (max-width: 430px) {
    .email-1 {
        display: block;
        width: 430px;
        margin-top: 50px;
        height: 1000px;
    }

    .email-2 {
        width: 430px;
        height: 400px;
    }

    .email-3 {
        width: 430px;
    }

    .email-4 {
        width: 350px;
    }

    .con {
        width: 400px;
    }

    .con-4 {
        width: 180px;
    }

    .con-7 {
        width: 180px;
    }

    .con-1 {
        width: 400px;
    }

    .con-10 {
        width: 180px;
    }

    .con-13 {
        width: 180px;
    }

    .com {
        width: 400px;
    }

    .com-3 {
        width: 400px;
    }

    .com-4 {
        width: 400px;
    }

}

.theam {
    display: flex;
}

.theam-1 {
    height: 950px;
    width: 1351px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theam-2 {
    width: 1320px;
    height: 75px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theam-3 {
    height: 380px;
    width: 1320px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.theam-5 {
    height: 300px;
    width: 520px;
    background-image: url(img-banner-02.jpg);
    background-size: cover;
}

.theam-6 {
    height: 380px;
    width: 645px;
    display: flex;
    flex-direction: column;
}

.twist {
    height: 25px;
    width: 350px;
    font-size: 18px;
    color: #9e9e9e;
    margin-top: 30px;
    margin-left: 20px;
}

.twist-1 {
    height: 60px;
    width: 300px;
    font-size: 21px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 20px;
}

.twist-2 {
    height: 70px;
    width: 420px;
    font-size: 17px;
    color: #9e9e9e;
    margin-top: 15px;
    margin-left: 20px;
}

.twist-3 {
    display: flex;
    margin-top: 35px;
    margin-left: 20px;
    gap: 25px;
}

.twist-4 {
    font-weight: 700;
}

.twist-5 {
    color: #9e9e9e;
}

.twist-6 {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 14px;
    color: rgb(255, 194, 62);
}

.theam-4 {
    height: 380px;
    width: 1320px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.theam-7 {
    height: 380px;
    width: 645px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.twist-7 {
    height: 25px;
    width: 350px;
    font-size: 18px;
    color: #9e9e9e;
    margin-top: 60px;
    margin-right: 20px;
}

.twist-8 {
    height: 60px;
    width: 300px;
    font-size: 21px;
    font-weight: 700;
    margin-top: 15px;
    margin-right: 20px;
}

.twist-9 {
    height: 70px;
    width: 420px;
    font-size: 17px;
    color: #9e9e9e;
    margin-top: 15px;
    margin-right: 20px;
}

.twist-10 {
    display: flex;
    margin-top: 35px;
    margin-right: 20px;
    gap: 25px;
}

.twist-11 {
    font-weight: 700;
}

.twist-12 {
    color: #9e9e9e;
}

.twist-13 {
    margin-top: 30px;
    margin-right: 20px;
    font-size: 14px;
    color: rgb(255, 194, 62);
}

.theam-8 {
    height: 300px;
    width: 520px;
    background-image: url(img-banner-03.jpg);
    background-size: cover;
}

@media (min-width: 431px) and (max-width: 1024px) {
    .theam-1 {
        width: 1024px;
    }

    .theam-2 {
        width: 1000px;
    }

    .theam-3 {
        width: 1000px;
    }

    .theam-4 {
        width: 1000px;
    }

    .theam-5 {
        width: 500px;
    }

    .theam-6 {
        width: 500px;
    }

    .theam-7 {
        width: 500px;
    }

    .theam-8 {
        width: 500px;
    }
}

@media (max-width: 430px) {
    .theam-1 {
        height: 800px;
        width: 430px;
        margin-top: 50px;
    }

    .theam-2 {
        width: 400px;
    }

    .theam-3 {
        height: 760px;
        width: 400px;
        display: block;
    }

    .theam-4 {
        display: none;
    }

    .theam-5 {
        width: 400px;
    }

    .theam-6 {
        width: 400px;
    }

    .twist-2 {
        width: 380px;
    }
}

.map {
    display: flex;
}

.map-1 {
    width: 100%;
    max-width: 1351px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 431px) and (max-width: 1024px) {
    .map-1 {
        width: 1024px;
    }
}

@media (max-width: 430px) {
    .map-1 {
        width: 430px;
    }
}

.end {
    display: flex;
}

.end-1 {
    height: 450px;
    width: 1351px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-2 {
    height: 300px;
    width: 1300px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.exp {
    height: 230px;
    width: 330px;
}

.bol {
    font-size: 20px;
}

.bol-1 {
    margin-top: 50px;
    color: #9e9e9e;
    display: flex;
    gap: 15px;
}

.bol-1 i {
    color: #0085ff;
}

.bol-2 {
    margin-top: 25px;
    color: #9e9e9e;
    display: flex;
    gap: 15px;
}

.bol-2:hover {
    color: #0085ff;
}

.bol-2 i {
    color: #0085ff;
}

.bol-3 {
    margin-top: 25px;
    color: #9e9e9e;
    display: flex;
    gap: 15px;
}

.bol-3:hover {
    color: #0085ff;
}

.bol-3 i {
    color: #0085ff;
}

.exp-1 {
    height: 230px;
    width: 330px;
}

.bol-4 {
    font-size: 20px;
}

.bol-5 {
    height: 145px;
    width: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bol-6 {
    height: 65px;
    width: 300px;
    display: flex;
}

.rp-1 {
    height: 65px;
    width: 65px;
    background-image: url(rp-property-1.webp);
    background-size: cover;
}

.rp-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    gap: 7px;
}

.rp-3:hover {
    color: #0085ff;
}

.rp-4 {
    color: #0085ff;
}

.bol-7 {
    height: 65px;
    width: 300px;
    display: flex;
}

.rp-5 {
    height: 65px;
    width: 65px;
    background-image: url(rp-property-2.webp);
    background-size: cover;
}

.rp-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    gap: 7px;
}

.rp-7:hover {
    color: #0085ff;
}

.rp-8 {
    color: #0085ff;
}

.exp-2 {
    height: 230px;
    width: 330px;
}

.ren {
    font-size: 20px;
}

.ren-1 {
    color: #9e9e9e;
}

.ren-1:hover {
    color: #0085ff;
}

.ren-2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exp-3 {
    height: 230px;
    width: 330px;
}

.ne-1 {
    font-size: 20px;
}

.ne-2 {
    height: 40px;
    width: 250px;
    margin-top: 40px;
    border: 1px solid #9e9e9e;
    font-size: 17px;
    outline: none;
    box-shadow: none;
}

.ne-2 {
    padding-left: 20px;
}

.ne-3 {
    height: 50px;
    width: 150px;
    background-color: #0085ff;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ne-3:hover {
    background-color: black;
}

.end-3 {
    height: 3px;
    width: 1351px;
    background-color: #0085ff;
    margin-top: 30px;
}

.end-4 {
    height: 100px;
    width: 1351px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.cop {
    color: #9e9e9e;
    margin-left: 30px;
}

.cop-1 {
    color: #9e9e9e;
    margin-left: 600px;
}

.cop-1:hover {
    color: #0085ff;
}

.cop-2 {
    color: #9e9e9e;
    margin-left: 25px;
}

.cop-2:hover {
    color: #0085ff;
}

.cop-3 {
    height: 5px;
    width: 5px;
    background-color: #0085ff;
    border-radius: 100px;
    margin-left: 20px;
}